* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #f8c8dc;
  text-align: center;
  color: whitesmoke;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
img {
  width: 308px;
  height: 196px;
  object-fit: cover;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background: #ffb6c1;
  color: whitesmoke;
  position: absolute;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

#noButton {
  position: absolute;
  margin-left: 150px;
  user-select: none;
}

#yesButton {
  position: absolute;
  margin-right: 150px;
}

#yesButton:hover {
  background: whitesmoke;
  color: #ffb6c1;
}
